<meta charset="UTF-8">
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="@@description">
<meta name="keywords" content="@@keywords">
<meta name="robots" content="index, follow">
<meta name="author" content="Salman Naeem">
<meta name="website" content="https://github.com/salmannaeem112215">
<meta name="email" content="">
<meta name="version" content="2.2.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:type" content="website">
<meta property="og:title" content="@@title">
<meta property="og:description" content="@@description">
<meta property="og:site_name" content="Salman Naeem Portfolio">
<meta property="og:url" content="@@canonical">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="@@title">
<meta name="twitter:description" content="@@description">
<link rel="canonical" href="@@canonical">

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">